html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: block;
  width: 100%;
  max-width: 400px;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.todo-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.todo-list li+li {
  border-top: 1px solid #eee;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin: 0;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.item-completed span {
  text-decoration: line-through;
  color: #9b9b9b;
}